@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --background-color: linear-gradient(#222741ec);
  --text-color: #161616;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", Arial, sans-serif;
  color: var(--text-color);
  min-height: 100dvh;
  line-height: 1.5;
  background: var(--background-color), url(./assets/Background/fundo-nuvem.jpg);
  background-position: center;
  background-size: cover;
}
